{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <!-- Features -->
    <!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="col-12 col-12-medium">
                    <h2>Qu'es ce qu'une fourmis ?</h2>
                </div>
            </div>
        </div>
    </div>
    <main id="features-wrapper">
        <div class="box container">
            <div class="row">
                <div class="col-12 col-12-medium">
                    <p>Les fourmis constituent la famille des Formicidae (ou formicidés en français) et, avec les guêpes et les abeilles, sont classées dans l’ordre des hyménoptères, sous-ordre des Apocrites. Ces insectes eusociaux forment des colonies, appelées fourmilières, parfois extrêmement complexes, contenant de quelques dizaines à plusieurs millions d’individus. Certaines espèces forment des supercolonies à plusieurs centaines de millions d’individus. Les termites, parfois appelés fourmis blanches pour leur ressemblance formelle et comportementale, sont de l’ordre des dictyoptères (sous-ordre des isoptères) mais ne sont pas de proches parents.

                        Les sociétés des fourmis ont une division du travail (polyéthisme d'âge et de caste), une communication entre individus et une capacité à résoudre des problèmes complexes. Ces analogies avec les sociétés humaines ont depuis longtemps été une source d'inspiration et le sujet d'études scientifiques.

                        En 2013, plus de 12 000 espèces2 ont été répertoriées3,4 mais il en reste probablement des milliers encore à découvrir. Famille cosmopolite (elle a colonisé toutes les régions terrestres à l'exception du Groenland et de l'Antarctique), elle atteint une grande densité dans les milieux tropicaux et néotropicaux5. Bien que les fourmis représentent moins d'un pour cent des espèces d'insectes, la masse de la myrmécofaune6 excède le poids de l'humanité et représente 10 à 15 % de la biomasse animale animale dans beaucoup d'habitats7, cette masse conjuguée à celle des termites représentant le tiers de la biomasse animale de la forêt amazonienne</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
